<h1><%= @identifier %></h1>

<div id="secondary-header">
  <%= @event.name %>
</div>

<h2>Occurances By Hour:</h2>

<div class="list">
  <ul>
  <% @event.hour_breakdown.each do |hour| %>
    <li><%= hour %></li><br>
  <% end %>
  </ul>
</div>

<h2>Total Times Event <%= @event.name %> was Received</h2>
<div class="list">
  <%= @event.number_of_times_receieved %><br>
</div>

<div id="secondary-header">
  <a href="/sources/<%= @identifier %>/events">Return to Events Index</a>
</div>
