<h1><%= @source.identifier %></h1>

<h2>Most Requested to Least Requested events:</h2>

<ol>
<% @source.ordered_events.each do |event| %>
  <li><%= event %></li>
<% end %>
</ol>

<ul>
  <% @source.unique_events.each do |event| %>
    <li><a href="/sources/<%= @source.identifier %>/events/<%= event %>" ><%= event %></a></li>
  <% end %>
</ul>