<h1><%= @source.identifier %></h1>

<div id="secondary-header">
  <%= @event.name %>
</div>

<h2>Occurances By Hour:</h2>

<div class="list">
  <ul>
  <% @source.count_event_per_hour(@event).each do |hour| %>
    <li><%= hour %></li><br>
  <% end %>
  </ul>
</div>

<h2>Times <%= @event.name %> <br>was Received:</h2>
<div class="list">
  <%= @source.number_of_times_event_receieved(@event) %><br>
</div>

<div id="secondary-header">
  <a href="/sources/<%= @source.identifier %>/events">Back to events index</a>
</div>
