<h1><%= @source.identifier %></h1>

<%= @event.name %>

<h2>Number of occurances per hour:</h2>
<ul>
<% @source.count_event_per_hour(@event).each do |hour| %>
  <li><%= hour %></li><br>
<% end %>
</ul>

<h2>Total Times Event <%= @event.name %> was Received</h2>
<%= @source.number_of_times_event_receieved(@event) %><br>

<a href="/sources/<%= @source.identifier %>/events">Back to events index</a>
