<h1><%= @identifier %></h1>

<% @source_payloads.each do |payload|  %>
  <%= payload.url.longest_response_time %>
  <%= payload.url.shortest_response_time %>
  <%= payload.url. %>
  <%= payload.url.longest_response_time %>